force-app/main/default/flows/errorLog_CustomExceptionNewRecordNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify the Admin Team a new &quot;Custom Exception&quot; record was created.</description>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>newCustomExcepitonBellNotification_AdminGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>newCustomExcepitonTitleBellNotification_AdminGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_User_to_List</name>
        <label>Add User to List</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>recipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPSAssignment.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPSAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DMLType</name>
        <label>DML Type?</label>
        <locationX>990</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert_DMLType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_viewErrorLogPermission_permission_set</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Update_DMLType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Assigned_Users</name>
        <label>Found Assigned Users?</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Assigned_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>viewErrorLogPermissionAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopPSAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Custom_Notification</name>
        <label>Found Custom Notification?</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Custom_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customNotificationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Bell_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Permission_Set</name>
        <label>Found Permission Set?</label>
        <locationX>611</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>viewErrorLogPermissionSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUsersViewErrorLogAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends a custom notification to all users assigned with the &quot;viewErrorLog&quot; Permission Set. 
Trigger order is set to the 100 in an attempt to make this flow be the last one to run.</description>
    <environments>Default</environments>
    <formulas>
        <description>This variable equals TRUE when a record is being created, and equals FALSE when the record is being updated or deleted.</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>recordLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!$Record.Id}, &apos;here&apos;)</expression>
    </formulas>
    <interviewLabel>Custom Exception: New record Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Exception: New record Notification</label>
    <loops>
        <name>loopPSAssignment</name>
        <label>Loop Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <collectionReference>viewErrorLogPermissionAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_notification_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_notification_Id</name>
        <label>Get notification Id</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customExceptionBellNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>customNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_viewErrorLogPermission_permission_set</name>
        <label>Get &quot;viewErrorLogPermission&quot; permission set</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>viewErrorLogPermission</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>viewErrorLogPermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUsersViewErrorLogAssignment</name>
        <label>Get Users with &quot;View Error Log&quot; Assignment</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Assigned_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>viewErrorLogPermissionSet.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>viewErrorLogPermissionAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>864</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DMLType</targetReference>
        </connector>
        <object>CustomException__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newCustomExcepitonBellNotification_AdminGroup</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Click this notification to view more details.</text>
    </textTemplates>
    <textTemplates>
        <name>newCustomExcepitonTitleBellNotification_AdminGroup</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new {!$Record.RecordType.Name} exception has just occurred to {!$User.FirstName} {!$User.LastName}.</text>
    </textTemplates>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>customNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewErrorLogPermissionAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>viewErrorLogPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
</Flow>
