force-app/main/default/flows/SubFlowErrorLogging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This throws the following error message for the User to read:
&apos;An internal exception occurred during the operation. Please contact you System Administrator with this exception details: &apos; [exceptionMessage]

If you leave the &quot;exceptionMessage&quot; null then the default Flow Error message (current error variable) will be passed in by default.</description>
        <name>Throw_Custom_Exception</name>
        <label>Throw Custom Exception</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>ExceptionUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>exceptionMessage</name>
            <value>
                <elementReference>exceptionMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Fail_Transaction</name>
        <label>Fail Transaction?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Insert_Error_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Fail_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>throwError_and_FailTransaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_Custom_Exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordIdAuto</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!recordId}),
&apos;N/A&apos;,
{!recordId}
)</expression>
    </formulas>
    <interviewLabel>Sub: Error Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub: Error Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Error_Log</name>
        <label>Insert Error Log</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ClassName__c</field>
            <value>
                <elementReference>flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionMessage__c</field>
            <value>
                <elementReference>error</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GovtLimitinExecutingCode__c</field>
            <value>
                <elementReference>governorLimits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>runningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToNumber__c</field>
            <value>
                <elementReference>recordIdAuto</elementReference>
            </value>
        </inputAssignments>
        <object>CustomException__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the &quot;Flow&quot; Record Type Id for the Custom Exception object.</description>
        <name>getRecordTypeId</name>
        <label>Get Record Type Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fail_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomException__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>exceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>error</elementReference>
        </value>
    </variables>
    <variables>
        <name>flowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sub flow: Error log test</stringValue>
        </value>
    </variables>
    <variables>
        <name>governorLimits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;N/A&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;N/A&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>runningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>This field is false by default.</description>
        <name>throwError_and_FailTransaction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
